@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/sansation');

@layer components {
  .font-primary {
    @apply bg-gradient-to-r from-font-darker to-font-lighter text-transparent bg-clip-text;
  }
}

body {
  margin: 0;
  font-family: 'Sansation', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cut-right {
  width: 80%;
  clip-path: polygon(0 0, calc(100% - 3vh) 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, calc(100% - 3vh) 0, 100% 100%, 0 100%);
  margin-right: -0.5rem;
}
.cut-left {
  width: 20%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, calc(0% + 3vh) 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, calc(0% + 3vh) 100%);
  margin-left: -0.5rem;
}
